/* Weekday row above the calendar */
.weekday-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  background: #f9f9f9;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.weekday-cell {
  flex: 1;
  text-align: center;
}

/* Scroll container setup */
.calendar-scroll-container {
  overflow-y: scroll;
  position: relative;
  overflow-anchor: none; /* This is the magic */

  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.calendar-scroll-container::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}

/* Each calendar block */
.calendar-container {
  margin: 0;
  padding: 0;
}

.calendar-container .rbc-date-cell{
  color: black;
}

.calendar-container .rbc-month-view {
  border: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.monthContainer {
    height: 1680px;
}

.rbc-month-row:has(
  .rbc-row-bg > :nth-child(7).remove-row
) {
    display: none;
}


.DateNavigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}