.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    max-height: 90%;
    width: 400px;
    height: 200px;
    background-color: white;
    margin: auto;
    margin-top: auto;
    padding: 30px;
    border-radius: 20px;
}

:has( .login-container) {
    height: 100%;
    width: 100%;
    display: flex;
}