.quick-create-not-error {
    color: black;
}

.quick-create-Trip-Object {
    background-color: rgb(231, 231, 231);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.quick-create-changed {
    background-color: rgb(168, 214, 240);
}

.quick-create-new {
    background-color: rgb(170, 240, 168);
}
button.quick-create:has( + button) {
    margin-right: 10px;
}

.error{
    background-color: rgba(255, 0, 0, 0.144);
}

.warning{
    color: rgb(179, 0, 0);
    font-weight: 900;
}

.space-left{
    margin-left: 10px;
}

.red{
    background-color: rgba(255, 0, 0, 0.178);
}

.blue{
    background-color: rgba(0, 0, 255, 0.26);
}