.reservation-filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.reservation-container{
    display: flex;
}

.filter-group label {
    font-weight: bold;
}

.reservation-list {
    width: 30%;
    padding: 1rem;
    border-right: 1px solid #ddd;
}

.reservation-item:hover {
    background-color: #eee;
}

.reservation-filters {
    display: flex;
    flex-direction: column;
}

.reservation-details {
    width: 65%;
    padding: 1rem;
}

.reservation-item.active {
    background-color: #ddd;
    cursor: pointer;
}

h4 {
    margin-top: 1rem;
}

.align-right {
    display: flex;
    right: 0px;
    justify-content: end;
    top: 0px;
}

.align-right button{
    width: max-content;
    padding: 6px;
}